# editorconfig.org
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[{*.patch,syntax_test_*}]
trim_trailing_whitespace = false

[{*.c,*.cpp,*.h,*.ino,*.py,Makefile}]
end_of_line = lf

[{*.c,*.cpp,*.h,*.ino}]
charset = utf-8
indent_style = space
indent_size = 2

[{Makefile}]
indent_style = tab
indent_size = 2

[*.md]
# Two spaces at the end of the line means newline in Markdown
trim_trailing_whitespace = false

[{*.py}]
indent_style = space
indent_size = 4

[{*.conf,*.sublime-project}]
indent_style = tab
indent_size = 4
