---
language: c
  #
before_install:
  #
  # Travis runs a detached head. We need to find the current branch
  - git checkout `git branch --contains HEAD | grep -v '*'`
  #
  # Also tags for the root(s) of the minor version(s)
  - git fetch origin --tags
  #
  # Publish the buildroot script folder
  - chmod +x ${TRAVIS_BUILD_DIR}/buildroot/bin/*
  - ln -s ${TRAVIS_BUILD_DIR}/buildroot/bin/ ~/bin
  #
  # Start fb X server
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  #
install:
  #
  # Install arduino 1.6.8
  - wget http://downloads-02.arduino.cc/arduino-1.6.8-linux64.tar.xz
  - tar xf arduino-1.6.8-linux64.tar.xz
  - sudo mv arduino-1.6.8 /usr/local/share/arduino
  - ln -s /usr/local/share/arduino/arduino ${TRAVIS_BUILD_DIR}/buildroot/bin/arduino
  #
  # Install: LiquidCrystal_I2C library
  - git clone https://github.com/kiyoshigawa/LiquidCrystal_I2C.git
  - mv LiquidCrystal_I2C/LiquidCrystal_I2C /usr/local/share/arduino/libraries/LiquidCrystal_I2C
  #
  # Install: LiquidTWI2 library
  - git clone https://github.com/lincomatic/LiquidTWI2.git
  - sudo mv LiquidTWI2 /usr/local/share/arduino/libraries/LiquidTWI2
  #
  # Install: Monochrome Graphics Library for LCDs and OLEDs
  - arduino --install-library "U8glib"
  #
  # Install: L6470 Stepper Motor Driver library
  - git clone https://github.com/ameyer/Arduino-L6470.git
  - sudo mv Arduino-L6470/L6470 /usr/local/share/arduino/libraries/L6470
  #
  # Install: TMC26X Stepper Motor Controller library
  - git clone https://github.com/trinamic/TMC26XStepper.git
  - sudo mv TMC26XStepper /usr/local/share/arduino/libraries/TMC26XStepper
  #
before_script:
  #
  # Change current working directory to the build dir
  - cd ${TRAVIS_BUILD_DIR}
  #
script:
  #
  # Backup Configuration.h, Configuration_adv.h, and pins_RAMPS_14.h
  #
  - cp Marlin/Configuration.h Marlin/Configuration.h.backup
  - cp Marlin/Configuration_adv.h Marlin/Configuration_adv.h.backup
  - cp Marlin/pins_RAMPS_14.h Marlin/pins_RAMPS_14.h.backup
  #
  # Build with the default configurations
  #
  - build_marlin
  #
  # Test heated bed temperature sensor
  #
  - opt_set TEMP_SENSOR_BED 1
  - build_marlin
  #
  # Test 2 extruders on basic RAMPS 1.4
  #
  - opt_set MOTHERBOARD BOARD_RAMPS_14_EEB
  - opt_set EXTRUDERS 2
  - opt_set TEMP_SENSOR_1 1
  - build_marlin
  #
  # Test 3 extruders on RUMBA (can use any board with >=3 extruders defined)
  #
  - opt_set MOTHERBOARD BOARD_RUMBA
  - opt_set EXTRUDERS 3
  - opt_set TEMP_SENSOR_2 1
  - build_marlin
  #
  # Test PIDTEMPBED
  #
  - restore_configs
  - opt_enable PIDTEMPBED
  - build_marlin
  #
  # Test AUTO_BED_LEVELING & DEBUG_LEVELING_FEATURE
  #
  - restore_configs
  - opt_enable ENABLE_AUTO_BED_LEVELING DEBUG_LEVELING_FEATURE
  - build_marlin
  #
  # Test AUTO_BED_LEVELING & DEBUG_LEVELING_FEATURE with Servos
  #
  - opt_enable NUM_SERVOS Z_ENDSTOP_SERVO_NR SERVO_ENDSTOP_ANGLES DEACTIVATE_SERVOS_AFTER_MOVE
  - build_marlin
  #
  # Test EEPROM_SETTINGS & EEPROM_CHITCHAT
  #
  - restore_configs
  - opt_enable EEPROM_SETTINGS EEPROM_CHITCHAT
  - build_marlin
  #
  ### LCDS ###
  #
  #
  # ULTIMAKERCONTROLLER
  #
  - restore_configs
  - opt_enable ULTIMAKERCONTROLLER
  - build_marlin
  #
  # MAKRPANEL
  # Needs to use Melzi and Sanguino hardware
  #
  #- restore_configs
  #- opt_enable MAKRPANEL
  #- build_marlin
  #
  # REPRAP_DISCOUNT_SMART_CONTROLLER, SDSUPPORT, and BABYSTEPPING
  #
  - restore_configs
  - opt_enable REPRAP_DISCOUNT_SMART_CONTROLLER SDSUPPORT BABYSTEPPING
  - build_marlin
  #
  # G3D_PANEL
  #
  - restore_configs
  - opt_enable G3D_PANEL SDSUPPORT
  - build_marlin
  #
  # REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER
  #
  - restore_configs
  - opt_enable REPRAP_DISCOUNT_FULL_GRAPHIC_SMART_CONTROLLER SDSUPPORT
  - build_marlin
  #
  # REPRAPWORLD_KEYPAD
  #
  # Cant find configuration details to get it to compile
  #- restore_configs
  #- opt_enable ULTRA_LCD REPRAPWORLD_KEYPAD REPRAPWORLD_KEYPAD_MOVE_STEP
  #- build_marlin
  #
  # RA_CONTROL_PANEL
  #
  - restore_configs
  - opt_enable RA_CONTROL_PANEL
  - build_marlin
  #
  ### I2C PANELS ###
  #
  # LCD_I2C_SAINSMART_YWROBOT
  # Failing at the moment needs different library
  #- restore_configs
  #- opt_enable LCD_I2C_SAINSMART_YWROBOT
  #- build_marlin
  #
  # LCD_I2C_PANELOLU2
  #
  - restore_configs
  - opt_enable LCD_I2C_PANELOLU2
  - build_marlin
  #
  # LCD_I2C_VIKI
  #
  - restore_configs
  - opt_enable LCD_I2C_VIKI
  - build_marlin
  #
  # LCM1602
  #
  - restore_configs
  - opt_enable LCM1602
  - build_marlin
  #
  # Enable FILAMENTCHANGEENABLE
  #
  - restore_configs
  - opt_enable FILAMENTCHANGEENABLE ULTIMAKERCONTROLLER
  - build_marlin
  #
  # Enable filament sensor
  #
  - restore_configs
  - opt_enable FILAMENT_WIDTH_SENSOR
  - build_marlin
  #
  # Enable filament sensor with LCD display
  #
  - opt_enable ULTIMAKERCONTROLLER FILAMENT_LCD_DISPLAY
  - build_marlin
  #
  # Enable COREXY
  #
  - restore_configs
  - opt_enable COREXY
  - build_marlin
  #
  # Enable COREXZ
  #
  - restore_configs
  - opt_enable COREXZ
  - build_marlin
  #
  # Enable Z_DUAL_STEPPER_DRIVERS, Z_DUAL_ENDSTOPS
  #
  - restore_configs
  - opt_enable_adv Z_DUAL_STEPPER_DRIVERS Z_DUAL_ENDSTOPS
  - pins_set RAMPS_14 X_MAX_PIN -1
  - opt_set_adv Z2_MAX_PIN 2
  - build_marlin
  #
  # Test PRINTCOUNTER
  #
  - restore_configs
  - opt_enable PRINTCOUNTER
  - build_marlin
  #
  #
  ######## Example Configurations ##############
  #
  # BQ Hephestos 2
  - restore_configs
  - use_example_configs Hephestos_2
  - build_marlin
  #
  # Delta Config (generic)
  - restore_configs
  - use_example_configs delta/generic
  - build_marlin
  #
  # Delta Config (generic) + ABL + ALLEN_KEY
  #
  - use_example_configs delta/generic
  - opt_disable DISABLE_MIN_ENDSTOPS
  - opt_enable AUTO_BED_LEVELING_FEATURE Z_PROBE_ALLEN_KEY
  - build_marlin
  #
  # Delta Config (Mini Kossel)
  #
  - use_example_configs delta/kossel_mini
  - build_marlin
  #
  # Makibox Config  need to check board type for Teensy++ 2.0
  #
  #- use_example_configs makibox
  #- build_marlin
  #
  # SCARA Config
  #
  - use_example_configs SCARA
  - build_marlin
  #
  # tvrrug Config need to check board type for sanguino atmega644p
  #
  #- use_example_configs tvrrug/Round2
  #- build_marlin
  #
  #
  ######## Board Types #############
  #
  # To be added in nightly test branch
  #
