@charset "UTF-8";
@font-face {
  font-family: "marlinui";
  src:url("marlinui.eot");
  src:url("marlinui.eot?#iefix") format("embedded-opentype"), url("marlinui.woff") format("woff"), url("marlinui.ttf") format("truetype"), url("marlinui.svg#marlinui") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "marlinui" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "marlinui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\61";
}
.icon-info:before {
  content: "\62";
}
.icon-cog:before {
  content: "\63";
}
.icon-tasks:before {
  content: "\64";
}
.icon-chevron-down:before {
  content: "\66";
}
.icon-chevron-left:before {
  content: "\67";
}
.icon-chevron-right:before {
  content: "\68";
}
.icon-chevron-up:before {
  content: "\69";
}
.icon-arrows-alt:before {
  content: "\6a";
}
.icon-upload:before {
  content: "\6b";
}
.icon-ban:before {
  content: "\6d";
}
.icon-github:before {
  content: "\6e";
}
.icon-thermometer:before {
  content: "\6f";
}
.icon-bolt:before {
  content: "\65";
}
.icon-sort-asc:before {
  content: "\70";
}
.icon-sort-desc:before {
  content: "\71";
}
.icon-long-arrow-left:before {
  content: "\72";
}
.icon-long-arrow-down:before {
  content: "\73";
}
.icon-long-arrow-right:before {
  content: "\74";
}
.icon-long-arrow-up:before {
  content: "\75";
}
.icon-arrows:before {
  content: "\76";
}
.icon-arrows-v:before {
  content: "\77";
}
.icon-arrows-h:before {
  content: "\78";
}
.icon-angle-double-up:before {
  content: "\79";
}
.icon-angle-double-down:before {
  content: "\7a";
}
.icon-tencent-weibo:before {
  content: "\41";
}
.icon-playback-fast-forward:before {
  content: "\42";
}
.icon-fire:before {
  content: "\43";
}
.icon-forward:before {
  content: "\44";
}
.icon-terminal:before {
  content: "\45";
}
.icon-info-circled:before {
  content: "\6c";
}
.icon-exclamation-triangle:before {
  content: "\46";
}
.icon-exchange:before {
  content: "\47";
}
.icon-plus:before {
  content: "\48";
}
.icon-minus:before {
  content: "\49";
}
.icon-check-square:before {
  content: "\4a";
}
.icon-facebook-square:before {
  content: "\4b";
}
.icon-file:before {
  content: "\4c";
}
.icon-trash:before {
  content: "\4d";
}
.icon-print:before {
  content: "\4e";
}
.icon-refresh:before {
  content: "\4f";
}
.icon-plug:before {
  content: "\51";
}
.icon-wifi:before {
  content: "\52";
}
.icon-sliders:before {
  content: "\50";
}
.icon-folder-open:before {
  content: "\54";
}
.icon-code-download:before {
  content: "\53";
}